<footer class="footer">
  <div class="follow-content">
    <div class="follow">Síguenos PwC Colombia</div>
  </div>
  <div class="footer-wrapper">
    <a href="">Make it happen with PwC</a>
    <div class="footer-flex">
      <div class="">
        <nav class="footer-nav">
          <a>Sostenibilidad coorporativa</a>
          <a>Alumni PwC Colombia</a>
          <a>Política HSEQ</a>
          <a>Nuestras oficinas</a>
          <a>Políticas de seguridad de la información</a>
          <a>Código de conducta</a>
          <a>Declaración global derechos humanos</a>
          <a>Cartilla informativa para visitantes</a>
          <a>Nuestras certificaciones</a>
        </nav>
      </div>
      <div class="">
        <nav class="footer-nav">
          <a>Auditoría</a>
          <a>Centro de conocimiento y experiencia</a>
          <a>Consultoria de negocio</a>
          <a>Legal</a>
          <a>Outsourcing</a>
          <a>Servicios de riesgo</a>
          <a>Tributario</a>
        </nav>
      </div>
    </div>
    <!-- logo  -->
    <div class="logo-container">
      <div class="logo">
        <a href="index.html">
          <img src="../public/img/header/PwC-logo.svg" />
        </a>
      </div>
      <div class="footer-copy">
        <p>
          © 2025 PwC. PricewaterhouseCoopers. PwC se refiere a las Firmas
          colombianas que hacen parte de la red global de PricewaterhouseCoopers
          International Limited, cada una de las cuales es una entidad legal
          separada e independiente. Todos los derechos reservados.
        </p>
      </div>
    </div>
  </div>
</footer>
